/* --- CSS Demo ---*/

/* Color Scheme: bg1: rgb(209, 227, 220), bg2: rgb(164, 207, 190), txt1: rgb(97, 106, 102), txt2: rgb(79, 89, 85), detail: #44717d, detail2:#364d53 */

/* Box Sizing, makes altering borders & padding more straightforward */
html { 
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* Utility Styles */
  /* */

  .container{
    max-width:960px;
    width:80vw; /* vw means viewport width, keeps the container at 80% of the width of the vp without exceeding 960px. */
    margin:30px auto;
  }


  /* Global Styles */

body{
    font-family: "Roboto Serif", serif;
    background-color:rgb(209, 227, 220);
    color:rgb(79, 89, 85);
    margin:0;
}

#content{
    line-height:1.5; /* just spaces the text out more, like i'm adding line spacing in word. */
}

header{
    font-family: "Roboto Slab", serif;
    background-color:rgb(164, 207, 190);
    color:rgb(97, 106, 102);
    padding:5px;
}

header.primary{
    background-image: url("data:image/svg+xml,%3Csvg width='116' height='58' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2344717d' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align:center;
    padding: 10px,5px,10px,5px; /* top, right, bottom, left, in order of what area is being padded. Can also use like, padding-left for specifics.*/
    border-style: double;
    border-width: 5px;
    border-color:#44717d
}


header.primary h1{
    text-shadow: 1px 1px #47656d;
    font-size: 2.5rem;
}

header.primary h1 a:link{
    color:rgb(97, 106, 102);
    text-decoration:none;
}

header.primary h1 a:visited{
    color:rgb(97, 106, 102);
    text-decoration:none;
}

header.primary h2{
    max-width:900px;
    background-color:rgb(209, 227, 220);
    margin: 20px auto;
}

#navmain {
    padding: 10px;
    margin:10px auto; /* Centers the element regardless of the monitor/screen size */
}

#navmain ul{
    padding:0; /* Gets rid of the bullet points! */
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}

#navmain ul li{
    list-style-type:none;
}

#navmain a{
    text-decoration:none; /*removes the link underline.*/
    background-color: #44717d;
    color: rgb(209, 227, 220);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #364d53;
    transition: .4s; /* Makes the transition between states (to hover in this case) happen over a set time. */
}
#navmain a:hover{
    background-color: #364d53;
}

h2,h3,h5{
    font-family: "Roboto Slab", serif;
    color:rgb(97, 106, 102)  ;
    background-color:rgb(164, 207, 190);
    margin: 10px;
    padding-left: 10px;
    border-left:#44717d solid 5px;
}



a:link{
    color:rgb(92, 142, 180)
}
a:visited{
    color:rgb(131, 136, 166)
}

#blog{
    display:flex; /* uses flex box, uses the #blog class as the parent/container. I believe */
    flex-direction:row;
    justify-content: space-around;
    gap:2rem; /* a reminder there is no rule or guideline telling you to only use 1-2 kinds of units of measurement in a page. Use what works best. */
    flex-wrap:wrap;
}


#blog .post{ 
    /* small note! a space between the words there communicates it applies to elements within blog id that have the class post. 
    If it was #blog.post with no space, it would apply to elements with both id blog and class post.  Also, Technically could achieve the same
    in this page just by using .post, but erring on the side of specific is better just in case in these things.*/
    box-shadow: 0 8px 16px #849ba1;
    padding: 10px;
    border: 2px solid #44717d;
    border-radius: 4px;
    font-size: .8rem;
    transition: .5s;
    flex: 1;
}

#blog figcaption{
    text-transform: uppercase; /* can apply things like uppercase, lowercase, & capitalize. Automatically make all titles capitalized for instance.*/
}

#blog h2 {
    flex:0 0 100%;
    margin:0;
    text-align:center;
  }

#blog header h2{
    padding-top:10px;
    margin: 0;
}

#blog .post:hover{ 
    /* over specificity can also be a detriment if you want to be more general to an area. Want it to apply more globally, carefully remove some. */
    box-shadow: 0 8px 16px #424e51;
}

#practice h2{
    padding:20px;
    border:4px solid #44717d
}

table{
    border: 2px dashed #44717d;
    width: 100%;
    margin:20px 0;
    border-collapse:collapse;
}



caption{
    font-weight:bold;
    margin:10px;
    
}


th{
    background-color:rgb(164, 207, 190);
    padding: 5px;
}

tr:nth-child(even){
    /* The nth child allows things like selecting alternating rows. Even for even numbered rows, for instance.*/
    background-color:rgb(187, 208, 200);
}

td{
    padding: 5px;
    border: 1px solid #364d53;
    text-align:center;
}



#lists{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:1rem;
    border-top: 2px solid #44717d;
    border-bottom: 2px solid #44717d;
    background-color:rgb(187, 208, 200);
}
.list{
    background-color:rgb(164, 207, 190);
    margin:20px;
    padding:20px;
    border:2px solid #44717d;
}

.list li{
    padding:5px;
}

.list dt{
    padding:5px;
    border-left:#44717d solid 5px;
}

.list dd{
    padding:5px;
}

#practice ul ul{
    list-style-type: square;
}

#practice blockquote{
    border: 4px dotted #44717d;
    padding: 20px 40px;
    margin: 40px 80px;
    background-color: rgb(164, 207, 190);
    line-height: 1.2;
    border-radius: 30px 0;

}

#practice blockquote cite{
    display:block;
    text-align: right;
    margin-top: 5px;
}

img{
    max-width: 100%; /* confines the size of the element (in this case, the images) to be at most 100% of their parent container. */
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border:1px solid #364d53;
    padding:5px;
    border-radius:50px;
    background-color:rgb(164, 207, 190);
  }
  
  .img-left{
    float:left;
    margin: 10px 20px 10px 0;
    border:1px solid #364d53;
    padding:5px;
    border-radius:50px;
    background-color:rgb(164, 207, 190);
  }

aside[role="complementary"]{
    background-color: #44717d;
    color: rgb(209, 227, 220); 
    padding: 10px;
    background-image: url("../img/donutref3.webp"); /* ../ goes up one level in directory*/
}

aside .container{
    display:flex;
    flex-direction: row;
}

aside header {
    background-color: #508998;
    color:rgb(209, 227, 220);
    padding:none;
    margin:10px;
    border:none;
} 

aside h2{
    background-color: #508998;
    color:rgb(209, 227, 220);  
    border:0px;   
}

aside article{
    padding:10px;
    border:4px dotted #508998;
    margin: 10px;
}

aside .container a{
    display:block;
    text-align: right;
    color:rgb(209, 227, 220);
    padding:10px;
}

aside .widget footer{
    display:none;
  }


footer h5{
    text-align: center;
    border: none;
}

@media screen and (max-width:600px){ /* makes the nav rearrange into a neat column format when the screen is  compressed enough. At least, it's supposed to (fix!)*/
    #navmain ul{
        flex-direction:column; 
        gap:20px;
        max-width:250px;
        text-align:center;
        margin:auto;
    }
}
