body{
    background-color: #e7e7d5;
}
img{
    margin:40px;
}

.wrapper{
    display:grid;
    grid-gap:10px;  
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: none;
}

.box{
    background-color:#d0d0c4;
    border: 2px dashed #bfbfb6
}