body{
    background-color: #e7e7d5;
}
img{
    display:block;
    margin:40px auto;
    max-width:50%;
}

.wrapper{
    display:grid;
    margin: 20px auto;
    max-width: 80%;
    grid-gap:10px;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box{
    background-color:#d0d0c4;
    border: 2px dashed #bfbfb6
}