
/* colors?:  #26E0BB #43A18E #41615B #E05826 #8B5946 #36302E  */

/* Box Sizing, makes altering borders & padding more straightforward */
html { 
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    background-color: #a8e9de;
    text-align: center;
}

header{
    background-color:#8bd4c5;
    background-image:none;
    
}
nav{
    border: 4px solid #91ccc2
}
nav ul{
    padding:0;
    list-style-type: none;
}
nav li{
    background-color: #8bd4c5;
    padding:0;
    margin:5px;
}
