/* colors: #EDEDED (main gray), fonts?:"Helvetica Neue", Helvetica, Arial,  */



body{
    background-color: #EDEDED;
    font-family: "Open Sans", sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

h2{
    font-size:40px;
}

.separated{
    margin:20px;
}

#concept{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: aqua;
    height: 70vh;
    width: 100vw;
    margin:0%;
}

.part{
    padding: none;  
    background-color: white;
}


img {
    padding:none;
    
}

#concept::after {
    content:"";
    display:block;
    width:100vw;
    height: 70vh;
    position:absolute;
    background-color: ;
    box-shadow: inset 3px 3px 10px 0 #000000;
  }

